{% extends 'ecw/base.html' %}
{% load static %}
{% block content %}
<style>
    .product-detail-view {
        background-color: rgb(216, 146, 61);
    }
    .nav-box {
        background-color: #333;
        padding: 10px;
    }
    .nav-box a {
        color: white;
        margin-right: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .nav-box a:hover {
        color: #f0a500;
    }

</style>
<header>
    <div class="nav-box">
        <div class="main-links">
            <a href="{% url 'dashboard' %}">Home</a>
            <a href="{% url 'profile' %}">Profile</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
</header>


<div class="product-detail-view">
    <div class="product-visual">
        <div class="color-block">
            <img src="{% static product.image %}" alt="{{ product.name }}">
        </div>
    </div>

    <div class="product-description-content">
        <span class="date-label">NOVEMBER RELEASE</span>
        <h1 class="item-name">{{ product.name }}</h1>
        <div class="item-text">
         <p style="color: #000000; font-style: italic; text-align: justify; line-height: 1.5;">{{ product.description }}</p>
         <div style="display: flex; gap: 10px; margin-top: 10px; color: #000000; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold;"></div>
         <p style="margin: 0;font-weight: bolder; color: #000000;">PRICE : {{product.price}}</p>
        <p style="margin: 0;font-weight: bolder;color: #000000;">Quantity : {{ product.quantity }}</p>
        </div>
        </div>


        <div class="action-row">
            <a href="{% url 'add' product.id %}" class="black-btn">ADD TO CART</a>
    
   <a href="{% url 'order' product.id %}"><button>PLACE ORDER</button></a> 
</div>
{% endblock %}


