{% extends 'ecw/base.html' %}
{% block title %}Login{% endblock %}
{% block page_heading %}Login{% endblock %}
{%block content%}



{% if error_message %}
<p>{{error_message}}</p>
{% endif %}
<div class="auth-wrapper">
    <div class="auth-card">
<form action="{% url 'login' %}" method="post">
 {% csrf_token %}
   <fieldset>
    <label>Email:</label>
    <input type="email" name="email" placeholder="Enter the Email">

    <label>Password:</label>
    <input type="password" name="password" placeholder="Enter the password">
    </fieldset>

    <button>submit</button>
</form>
    </div>
</div>
{%endblock%}